
.wrapper {
    max-width: 1024px;
    margin: 60px auto 0;
    /* display: block;   */
}

/* .example-card {
    max-width: 300px;
}
  
.mat-toolbar {
    background: #343a40!important;
    color: white;
    font-family: inherit;
    border-radius: 35px;
}

.mat-card-image {
    height: 311.33px;
}

p {
    text-align: center;
}

ngx-avatar{
    display:inline-block;
}

div{
    text-align: center;
} */
table {
    width: 100%;
  }