<div class="wrapper">
  <!-- <div class='row'>
    <div class="col-3" *ngFor="let user of users.users">
      <mat-card>
        <ngx-avatar size="100" name={{user.username}}></ngx-avatar>
        <br>
        <br>
        <mat-card-content>
          <p>
            {{user.userId}}
          </p>
          <p>{{user.username}}</p>&nbsp;&nbsp;<p>{{user.email}}</p>
        </mat-card-content>
        <hr>
      </mat-card>
    </div>
  </div> -->
  <table mat-table [dataSource]="users.users" class="mat-elevation-z8">

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User Id </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> More Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="open(element.addresses)">Details</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>