<app-modal title="Addresses of the User">
    <div class='row'>
        <div class="col-6" *ngFor="let element of addresses">
          <mat-card>
            <br>
            <br>
            <mat-card-content>
              <p>
                Line 1: {{element.line1}}
              </p>
              <p>Locality: {{element.locality}}</p>&nbsp;&nbsp;<p>State: {{element.state}}</p>
              <p>
                  Pin: {{element.pin}}
                </p>
            </mat-card-content>
            <hr>
          </mat-card>
        </div>
      </div>
</app-modal>