.example-card {
    max-width: 600px;
}
  
.mat-toolbar {
    background: #343a40!important;
    color: white;
    font-family: inherit;
    border-radius: 35px;
}

.mat-card-image {
    height: 311.33px;
}

p {
    text-align: center;
}


div{
    text-align: center;
} 